{% extends "base.html" %}

{% block title %}
	What Twitter has to say about Gun Control
{% endblock %}

{% block graph %}

	<div class="col-md-offset-1 col-md-5 basic-map">

		<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="blues" src="//danielcodes.maps.arcgis.com/apps/Embed/index.html?webmap=53199f4f2ead4f5299f55b6537dfff5a&amp;extent=-143.7451,16.7635,-51.8115,54.3428&amp;zoom=true&amp;scale=true&amp;legend=true&amp;disable_scroll=true&amp;theme=light"></iframe></div>

		<h2 class="text-center">Positive sentiment</h2>

	</div>

	<div class="col-md-5 basic-map">

		<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="reds" src="//danielcodes.maps.arcgis.com/apps/Embed/index.html?webmap=ede9c269527d4d529011f3c876c53289&amp;extent=-142.6615,18.7738,-50.7279,55.5551&amp;zoom=true&amp;scale=true&amp;legend=true&amp;disable_scroll=true&amp;theme=light"></iframe></div>

		<h2 class="text-center">Negative sentiment</h2>

	</div>


{% endblock %}


